@using TestLatviaProject.Dtos
@model UserAdminDto

<h1>Course Details</h1>

<div class="container">
    <table>
        <tr>
            <th>User</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>Tasks</th>
            <td>@String.Join(", ", Model.TasksTitle)</td>
        </tr>
    </table>
</div>